* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f4f6f8;
}

.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

form {
    width: 50%;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.input {
    margin-bottom: 20px;
}

.input label {
    font-size: 1rem;
}

.input input {
    width: 100%;
    height: 38px;
    margin-top: 6px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-add {
    display: flex;
    justify-content: flex-end;
}
.btn-clear {
    background-color: #dc3545; 
    margin-left: 10px;         
}
.btn-clear:hover {
    background-color: #c82333;
}
button {
    width: 120px;
    height: 38px;
    background-color: #17a717;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #138a13;
}

.Balance {
    margin-top: 30px;
}

.Balance .box-record {
    margin-top: 10px;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.box-record p {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.table-section {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}
